/* Global styles */
body {
    background-color: black;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    margin-left: 5vw; /* Adjust margin for smaller screens */
    color: aliceblue;
    font-size: 2rem; /* Adjust font size for smaller screens */
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

/* Container for project cards */
[class^="border"] {
    position: relative;
    width: 90%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Center project cards */
    border: 5px solid #F04A00;
    border-radius: 25px;
    padding: 10px;
}

/* Title of the project */
[class^="container"] h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    color: #F2F8F8;
    margin-bottom: 0;
}

/* Description of the project */
[class^="des"] {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    color: aliceblue;
}

/* Image of the project */
[class^="first"] {
    padding-top: 10px;
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Maintain aspect ratio */
}

/* "Let's check" link */
[id^="sec"] {
    position: absolute;
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    border-radius: 25px;
    background-color: #F04A00;
    border: 2px solid white;
    width: 150px; /* Adjust width for smaller screens */
    height: 30px; /* Adjust height for smaller screens */
    padding-left: 10px;
    padding-bottom: 10px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    /* Adjust styles for devices with a max-width of 768px */
    a {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    [class^="border"] {
        width: 90%; /* Adjust width for smaller screens */
    }

    [id^="sec"] {
        font-size: 1rem; /* Adjust font size for smaller screens */
        width: 100px; /* Adjust width for smaller screens */
        height: 20px; /* Adjust height for smaller screens */
    }
}
